AddCategoryBox
@{
    ViewBag.Title = "Bill";
    Layout = null;
}
<style>
    .modal-backdrop {
        display: none;
    }
</style>
<script type="text/ng-template" id="/ui-tree-select.html">
    <ui-select ng-model="model.$selected"
               ui-select-focuser
               theme="selectize">
        <ui-select-match placeholder="Select a group">
            {{ $select.selected.title }}
        </ui-select-match>
        <ui-select-choices repeat="group in groups | filter: $select.search">
            <div>
                <span ng-bind-html="group.title | highlight: $select.search"></span>
                <!--<span ng-bind-html="'('+group.size+' users)'"></span>
                <a href
                  ng-show="group.parent"
                  class="goto-child-group"
                  ng-click="loadChildGroupsOf(group, $select)">
                  <i class="fa fa-angle-right"></i>
                </a>-->
            </div>
        </ui-select-choices>
    </ui-select>
</script>
<script type="text/ng-template" id="/ui-tree-Account.html">
    <ui-select ng-model="model.$selected"
               ui-select-focuser
               theme="selectize">
        <ui-select-match placeholder="Select a account">
            {{ $select.selected.title }}
        </ui-select-match>
        <ui-select-choices repeat="group in groups | filter: $select.search">
            <div>
                <span ng-bind-html="group.title | highlight: $select.search"></span>
                <!--<span ng-bind-html="'('+group.size+' users)'"></span>
                <a href
                  ng-show="group.parent"
                  class="goto-child-group"
                  ng-click="loadChildGroupsOf(group, $select)">
                  <i class="fa fa-angle-right"></i>
                </a>-->
            </div>
        </ui-select-choices>
    </ui-select>
</script>

<script type="text/ng-template" id="/ui-tree-Item.html">
    <ui-select ng-model="model.$selected"
               ui-select-focuser
               theme="selectize">
        <ui-select-match placeholder="Select a item">
            {{ $select.selected.title }}
        </ui-select-match>
        <ui-select-choices repeat="group in groups | filter: $select.search">
            <div>
                <span ng-bind-html="group.title | highlight: $select.search"></span>
                <!--<span ng-bind-html="'('+group.size+' users)'"></span>
                <a href
                  ng-show="group.parent"
                  class="goto-child-group"
                  ng-click="loadChildGroupsOf(group, $select)">
                  <i class="fa fa-angle-right"></i>
                </a>-->
            </div>
        </ui-select-choices>
    </ui-select>
</script>
<div class="FlexPopup" style="display:block" ng-init="model = {}">
    <div class="flexheader lightblue">
        <label style="float:left;padding:15px ">

            <strong><span style="font-size:20px;  color:#585655">Bill</span></strong>
        </label>
        <label style="float:right;padding:15px ">

            <strong style="font-size:20px"><a href="" ng-click="addInventry()"><i class="fa fa-times"></i></a></strong>


        </label>
    </div>
    <!-- addInventryModal -->
    <div id="addInventryModal7" class="modal fade" role="dialog">
        <div class="modal-admin">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body" style="background-color:#525DB0">
                    <label style="color:#FFFFFF">Do you want to leave without saving</label>
                </div>



                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm btn bg-purple" data-dismiss="modal" style="float:left">No</button>
                    <button type="button" class="btn btn-secondary btn-sm btn-success" ng-click="goBack()" data-close="modal">Yes</button>
                </div>
            </div>

        </div>
    </div>
    <div id="addInventryModal1" class="modal fade" role="dialog">
        <div class="modal-alert">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body fa fa-check-circle fa-1x co-ok" style="background-color:#FFFFFF">
                    <label style="color:#0A0503">Bill Saved</label>
                </div>
            </div>

        </div>
    </div>

    <div id="billNoAlert" class="modal fade" role="dialog">
        <div class="modal-alert">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body fa fa-warning" style="background-color:#FFFFFF">
                    <label style="color:#ff0000">Bill No All Ready Exist</label>
                </div>
            </div>

        </div>
    </div>

    <div class="flexcontainer">
        <div class="lightblue bluebrdr content" style="padding:10px 0px">
            <div class="col-sm-7 padding">
                <div class="col-sm-6">
                    <h4 class="tabheading font_11">Supplier</h4>
                    <ui-select ui-tree-select ng-model="supplier.selected" id="countryCode"
                               ui-select-focuser
                               theme="selectize">
                        <ui-select-match placeholder="Select Suppliers">{{ $select.selected.company }}</ui-select-match>

                        <ui-select-choices repeat="person in supliers  | filter: $select.search">
                            <div>
                                <span ng-model="supplier1" ng-bind-html="person.company | highlight: $select.search"></span>
                            </div>


                        </ui-select-choices>
                    </ui-select>







                    <div id="form-popoverPopup" class="popupbox">
                        <div class="dijitDialogTitle">
                            New Suppliers
                            <i class="fa fa-times-circle cursor pull-right" title="close" ng-click="popuclose()"></i>
                        </div>
                        <div class="form-content">
                            <div class="form-group">
                                <label><span class="red">*</span>Suppliers Name</label>
                                <input type="text" ng-model="suppliersName" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label><span class="red">*</span>Email</label>
                                <input type="text" ng-model="email1" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label><span class="red">*</span>Mobile No.</label>
                                <input type="text" ng-model="mobile" class="form-control" />
                            </div>



                            <div class="form-footer">
                                <button type="button" class="btn btn-sm btn-default" ng-click="saveSuppliers()">Save</button>
                            </div>
                        </div>
                    </div>


                </div>


            </div>




            <div class="pull-right" style="margin-right:10px;">
                <p class="text-right"></p>
                <span class="balancedue"> {{subtotal}}</span>
            </div>




            @*<table class="table NewTable" style="border: 1px solid #e3e3e3;  margin:5% 2% 0% -4%; width: 99%;">
                    <tr>
                        <td style="background:#f3f5f8; width:50px"><label>INR</label></td>
                        <td><input type="text" ng-model="ExchangeRateINR" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td style="background:#f3f5f8; width:50px"><label>IDR</label></td>
                        <td><input type="text" ng-model="ExchangeRateIDR" class="form-control" /></td>
                    </tr>
                    <tr></tr>
                </table>*@


            <div class="col-sm-12">



                <div class="col-sm-2 padding5 claro">
                    <h4 class="tabheading font_11">Shipping address</h4>

                    <textarea class="form-control" style="height:88px"></textarea>

                </div>

                <div class="col-sm-2 padding5">
                    <h4 class="tabheading font_11">Bill Date</h4>
                    <div class='input-group'>
                        <input type='text' class="form-control" ng-model="billDate" id='BillDate' />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <h4 class="tabheading font_11">INR</h4>
                    <input type="text" ng-model="ExchangeRateINR" class="form-control" />
                </div>

                <div class="col-sm-2 padding5">
                    <h4 class="tabheading font_11">Due Date</h4>
                    <div class='input-group'>
                        <input type='text' class="form-control" ng-model="billDueDate" id='DueDate' />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>


                    <h4 class="tabheading font_11">IDR</h4>
                    <input type="text" ng-model="ExchangeRateIDR" class="form-control" />

                </div>

                <div class="col-sm-2 padding5">
                    <h4 class="tabheading font_11">Currency</h4>
                    <select ng-model="currency" ng-change="currency1(currency)" class="form-control" style="width:100px">
                        <option>Dollar</option>
                        <option>Rupee</option>

                    </select>
                </div>



                <div class="col-sm-1 padding5 pull-right">
                    <h4 class="tabheading font_11">Bill no.</h4>
                    <input type="text" class="form-control" id="billNo" ng-model="billNo" />
                    <i id="EmpCodeLoad1" style="display:none; margin:0px 5px; font-size:28px;" class="fa fa-spinner fa-spin"></i>
                    <i id="EmpCodeDone1" style="display:none; margin:0px 5px; font-size:28px;" class="fa fa-check text-success"></i>
                    <i id="EmpCodeFail1" style="display:none; margin:0px 5px; font-size:28px; " class="fa fa-times text-danger"></i>
                </div>
            </div>


        </div>




        <hr style="float:left; width:100%; margin-bottom:10px" />

       

        <div class="col-sm-12">
            <h4 data-toggle="collapse" data-target="#ItemDetail2" class="cursor pull-left">
                <i class="fa fa-caret-right"></i> Item details
                  </h4>
            <span class="pull-right">
                <label for="imageUpload" class="btn btn-default btn-sm" style="height:30px;width:150px">
                    Choose file
                    <input type="file" id="imageUpload" file-model="myFile"
                           style="display: none">

                </label>
                <button ng-click="uploadFile()" class="btn btn-primary btn-sm" ><i class="fa fa-upload"></i></button>
            </span>








            <div class="collapse in" id="ItemDetail2" ng-init="role = admin">
                <table class="table-bordered table-condensed table-hover" id="ItemTable" style="width:100%; margin-top:10px; float:left">
                    <thead style="font-weight:bold">
                        <tr>

                            <th>Grade</th>
                            <th>Finish</th>
                            <th>Thickness (MM)</th>
                            <th>Width (MM)</th>
                            <th>Length (MM)</th>
                            <th>Net Weight (MT)</th>
                            <th>Gross Weight (MT)</th>
                            <th>Sheets NO</th>
                            <th>Unit Price fob USD/MT($)</th>
                            <th>Unit Price cif USD/MT($)</th>
                            <th>Amount CIF($)</th>
                            <th>Amount FOB($)</th>
                            <th ng-hide="role =='2'||role =='1'"> Msc.Charges($)</th>

                            <th>&nbsp;</th>

                        </tr>
                    </thead>
                    <tbody ng-repeat="item in billtable | filter:search">



                        <tr>
                        <tr>


                            <td> {{item.grade}}</td>
                            <td> {{item.finish}}</td>
                            <td> {{item.thickness}}</td>
                            <td> {{item.width}}</td>
                            <td> {{item.length}}</td>
                            <td> {{item.netweight}}</td>
                            <td> {{item.grossweight}}</td>
                            <td> {{item.sheetNo}}</td>
                            <td> {{item.fobrate}}</td>
                            <td> {{item.cifrate |number : fractionSize}}</td>
                            <td> {{item.fobamount |number : fractionSize}}</td>
                            <td> {{item.cifamount |number : fractionSize}}</td>
                            <td ng-hide="role =='2'||role =='1'"> {{item.miscCharge}}</td>
                            <td class="text-right Count" value="0.00">
                                <a class="edit" title="Edit"> <i class="fa fa-times-circle cursor RemoveTR" style="font-size:16px" ng-click="remove($index)"></i></a>
                            </td>



                        </tr>




                    </tbody>

                    @*
                        <thead>
                            <tr>

                                <th>Grade</th>
                                <th>Finish</th>
                                <th>Thickness (MM)</th>
                                <th>Width (MM)</th>
                                <th>Length (MM)</th>
                                <th>Net Weight (MT)</th>
                                <th>Gross Weight (MT)</th>
                                <th>Sheets NO</th>
                                <th>Unit Price fob USD/MT($)</th>
                                <th>Unit Price cif USD/MT($)</th>
                                <th>Amount CIF($)</th>
                                <th>Amount FOB($)</th>
                                <th ng-hide="role =='2'||role =='1'"> Msc.Charges($)</th>
                                <th>Amount(INR)</th>
                                <th>&nbsp;</th>

                            </tr>
                        </thead>

                                <tbody ng-repeat="item in billtable">
                                    <tr>


                                        <td> {{item.grade}}</td>
                                        <td> {{item.finish}}</td>
                                        <td> {{item.thickness}}</td>
                                        <td> {{item.width}}</td>
                                        <td> {{item.length}}</td>
                                        <td> {{item.netweight}}</td>
                                        <td> {{item.grossweight}}</td>
                                        <td> {{item.sheetNo}}</td>
                                        <td> {{item.fobRate}}</td>
                                        <td> {{item.cif |number : fractionSize}}</td>
                                        <td ng-hide="role =='2'||role =='1'"> {{item.miscCharge}}</td>
                                        <td> {{item.charges |number : fractionSize}}</td>


                                    </tr>


                                </tbody>
                            </table>


                        <tbody ng-repeat="item in billtable">
                            <tr>
                                <td class="Count"><input ng:model="item.grade" class="form-control" value="0.00" ng:required ng:validate="number" style="border:none;" /></td>
                                <td class="Count"><input ng:model="item.finish" class="form-control" value="0.00" ng:required ng:validate="number" style="border:none;" /></td>
                                <td class="Count"><input ng:model="item.thickness" class="form-control" value="0.00" ng:required ng:validate="number" style="border:none;" /></td>
                                <td class="Count"><input ng:model="item.width" class="form-control" value="0.00" ng:required ng:validate="number" style="border:none;" /></td>
                                <td class="Count"><input ng:model="item.length" class="form-control" value="0.00" ng:required ng:validate="number" style="border:none;" /></td>
                                <td class="Count"><input ng:model="item.netweight" class="form-control" value="0.00" style="border:none;" /></td>
                                <td class="Count"><input ng:model="item.grossweight" class="form-control" value="0.00" ng:required ng:validate="number" style="border:none;" /></td>
                                <td class="Count"><input ng:model="item.sheetNo" class="form-control" value="0.00" ng:required ng:validate="number" style="border:none;" /></td>
                                <td class="Count"><input ng:model="item.fobRate" class="form-control" value="0.00" ng:required type="number" ng:validate="number" style="border:none;" /></td>
                                <td class="Count"><input ng:model="item.fobunitprice" class="form-control" value="0.00" ng:required type="number" ng:validate="number" style="border:none;" /></td>

                                <td class="Count"><input ng:model="item.cif= (item.netweight*item.fobRate) " class="form-control" value="0.00" ng:required type="number" ng:validate="number" style="border:none;" /></td>
                                <td class="Count"><input ng:model="item.fob=item.netweight*item.fobunitprice " class="form-control" value="0.00" ng:required type="number" ng:validate="number" style="border:none;" /></td>
                                <td class="Count" ng-hide="role =='2'||role =='1'"><input ng:model="item.miscCharge" class="form-control" value="0.00" ng:required type="number" ng:validate="number" style="border:none;" /></td>
                                <td class="Count" ng-show="role =='2'||role =='1'"><input ng:model="item.adminCharge |number : fractionSize" class="form-control" value="0.00" ng:required ng:validate="number" style="border:none;" /></td>
                                <td class="Count" ng-hide="role =='2'||role =='1'"><input ng:model="item.charges=(item.netweight*item.fobRate*ExchangeRate)+item.miscCharge |number : fractionSize" class="form-control" value="0.00" ng:required ng:validate="number" style="border:none;" /></td>
                                <td class="text-right Count" ng:model="item.adminCharge = item.charges-item.miscCharge" value="0.00"><a class="edit" title="Edit"> <i class="fa fa-times-circle cursor RemoveTR" style="font-size:16px" ng-click="remove($index)"></i></a></td>

                            </tr>


                        </tbody>
                    *@
                </table>
                @*<button type="button" style="margin-top:7px" class="btn btn-default" ng-click="addrow(count = count + 1)" ng-init="count=-1">Add lines</button>
                <button type="button" style="margin-top:7px" class="btn btn-default" ng-click="clearTable()">clear lines</button>*@




            </div>
        </div>


        <hr style="float:left; width:100%; margin:5px 0px" />
        <div class="col-sm-12">
            <div class="col-sm-4 padding">

                <div class="form-group">
                    <h4 class="tabheading">Memo</h4>
                    <textarea class="form-control" style="height:80px"></textarea>
                </div>
            </div>

            <div class="pull-right" style="margin-right:10px;">
                <p class="text-right"></p>
                <span > Total  {{subtotal}}</span>
            </div>
        </div>

        <hr style="float:left; width:100%; margin:5px 0px" />

        <div class="col-sm-12" style="margin-bottom:20px">
            <div class="col-sm-4 padding">

                <div class="form-group">
                    <h4 class="tabheading">Attachments</h4>
                    <div class="attachmets">
                        <input type="file" id="uploadBtn" multiple="multiple" name="browsefile">
                        <div>
                            <i class="fa fa-plus"></i>
                            <p>Add file</p>
                        </div>
                    </div>


                </div>
            </div>
            <div id="upload_prev" class="upload_prev"></div>


        </div>
        <ul ng-repeat="data in datapath">
            <li>
                <span> <a href="" style="font-size:medium" class="pointer fa fa-file-pdf-o" aria-hidden="true"> <b ng-click="getfile(data)">{{data.replace("server/boot/uploads/"+ billNo,'')}}</b></a></span>
                <i class="fa fa-times" aria-hidden="true" ng-click="deletefile(data,$index)"></i>
            </li>
        </ul>
    </div>


    @*
        <div class="col-sm-2 statusBody" style="padding:0px;">
            <div class="lightblue bluebrdr flexcontainer" style="padding:0px 10px">
                <h3 class="AddBill">Add to Bill</h3>



                <div>
                    <input class="pull-right reportSearch" type="search" placeholder="search" name="lastname" ng-change="searchPO()" ng-model="search" style="height:30px;">
                </div>

                <div class="PurchaseBox" ng-repeat="data in polist | filter:search ">
                    <h3>{{data.supliersName}}</h3>
                    <small>{{data.date | date: "dd/MM/yyyy"}}</small>
                    <strong>{{data.no}} </strong>

                    <br /><strong>Amount Rs {{data.amount |number : fractionSize}} </strong><br />
                    <ul class="Purchasefooter list-unstyled">
                        <li ng-click="addtoBill($index)"><strong><i class="fa fa-long-arrow-left"></i> Add</strong></li>
                        <li><a ui-sref="Customer.PdfView({po:data.no,enq:2})">View</a></li>
                    </ul>

                </div>




            </div>
        </div>
    *@
    <div class="flexfooter">
        <span class="pull-left">

            <button type="button" class="btn btn-sm btn-primary">Clear</button>
        </span>

        <div class="pull-right">
            <button type="button" class="btn btn-sm btn-primary" ng-click="saveBill()">Save</button>
            <div class="btn-group dropup">
                @*
                    <button type="button" class="btn btn-info btn-sm" ng-click ="saveBill()">Save and send</button>
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:25px">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="right:-2px !important">
                        <li><a href="#">Save and close</a></li>
                        <li><a href="#">Save and send</a></li>
                        <li><a href="#">Save and new</a></li>
                        <li><a href="#">Save and share link</a></li>
                    </ul>

                *@
            </div>
        </div>
    </div>


</div>

<div class="ProductInformationBox">
    <div class="ProductDiv">
        <div class="productHeader">
            Product/Service information
            <i class="fa fa-times pull-right cursor" ng-click="closeproductInfo()"></i>
        </div>
        <div class="productList">
            <strong class="selectype" ng-click="AddCategory()">Select a type:</strong>
            <div class="product" ng-click="ProductFormbtn()">
                <i class="fa fa-cubes"></i>
                <div>
                    <strong>Inventory</strong>
                    <p>Products you buy and/or sell and that you track quantities of.</p>
                </div>
            </div>
            <div class="product" ng-click="ProductFormbtn()">
                <i class="fa fa-cube"></i>
                <div>
                    <strong>Non-Inventory</strong>
                    <p>Products you buy and/or sell but don’t need to (or can’t) track quantities of, for example, nuts and bolts used in an installation.</p>
                </div>
            </div>

            <div class="product" ng-click="ProductFormbtn()">
                <i class="fa fa-gear"></i>
                <div>
                    <strong>Service</strong>
                    <p>Services that you provide to customers, for example, landscaping or tax preparation services.</p>
                </div>
            </div>
        </div>

        <div class="ProductFormDiv" style="display:none; padding:10px">
            <div class="productName">
                <i class="fa fa-cubes"></i>
                <h4 ng-click="AddCategory()">Inventory</h4>
                <em ng-click="Backproductlist()">Change type</em>
            </div>

            <div class="col-sm-12 form-group">
                <label>Name</label>
                <textarea class="form-control"></textarea>
            </div>

            <div class="col-sm-12 form-group">
                <label>SKU</label>
                <input type="text" class="form-control" />
            </div>

            <div class="col-sm-12 form-group" style="border-bottom:1px solid #ccc; padding-bottom:20px">
                <label>Category</label>
                <ui-select ui-tree-select ng-model="supplier.selected" id="countryCode"
                           ui-select-focuser
                           theme="selectize">
                    <ui-select-match placeholder="Select Suppliers">{{ $select.selected.company }}</ui-select-match>

                    <ui-select-choices repeat="person in supliers  | filter: $select.search">
                        <div>
                            <span ng-model="supplier1" ng-bind-html="person.company | highlight: $select.search"></span>
                        </div>


                    </ui-select-choices>
                </ui-select>

                <div id="AddCategoryBox" class="popupbox" style="width:94%">
                    <div class="dijitDialogTitle" style="font-size:18px;">
                        New category
                        <i class="fa fa-times-circle cursor pull-right" title="close" ng-click="popuclose()"></i>
                    </div>
                    <div class="form-content">
                        <div class="form-group">
                            <label><span class="red">*</span>Name</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-footer">
                            <button type="button" class="btn btn-sm btn-primary">Save</button>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-sm-12 form-group">
                <div class="col-sm-6">
                    <label>Initial quantity on hand*</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" />
                </div>

            </div>



            <div class="col-sm-12 form-group">
                <div class="col-sm-6">
                    <label style="float:left; width:100%; margin-bottom:0px">As of date*</label>
                    <a>What’s the as of date?</a>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="asofdate" placeholder="dd/mm/yyyy" />
                </div>

            </div>


            <div class="col-sm-12 form-group" style="border-bottom:1px solid #ccc; padding-bottom:10px">
                <div class="col-sm-6">
                    <label style="float:left; width:100%; margin-bottom:0px">Low stock alert</label>
                    <a>What's the low stock alert?</a>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" />
                </div>

            </div>


            <div class="col-sm-12 form-group" style="border-bottom:1px solid #ccc; padding-bottom:20px">
                <label style="float:left; width:100%">Inventory asset account</label>
                <div class="btn-group" style="width:100%">
                    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" style="width:100%; color:#000 !important; text-align:left;">
                        Inventory Asset
                        <i class="fa fa-sort pull-right" style="margin-top:3px"></i>
                    </button>

                    <ul class="dropdown-menu my parentaccount" style="width:100%;">
                        <li>
                            <a href="#">Inventory Asset</a>
                        </li>

                    </ul>

                </div>


            </div>


            <div style="border-bottom:1px solid #ccc; padding-bottom:15px; float:left; width:100%">

                <div class="col-sm-12 form-group">
                    <label style="float:left; width:100%">Sales information</label>
                    <textarea class="form-control" placeholder="Description on purchase form"></textarea>

                </div>


                <div class="col-sm-6 form-group">
                    <label style="float:left; width:100%">Sales price/rate</label>
                    <input type="text" class="form-control" style="text-align:right" />

                </div>


                <div class="col-sm-6 form-group">
                    <label style="float:left; width:100%">Income account</label>
                    <div class="btn-group" style="width:100%">
                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" style="width:100%; color:#000 !important; text-align:left;">
                            Sales of Product Income
                            <i class="fa fa-sort pull-right" style="margin-top:3px"></i>
                        </button>

                        <ul class="dropdown-menu my Incomeaccount" style="width:100%;">
                            <li>
                                <a href="#">Sales of Product Income</a>
                            </li>

                        </ul>

                    </div>

                </div>

            </div>


            <div style="border-bottom:1px solid #ccc; padding:15px 0px; float:left; width:100%">

                <div class="col-sm-12 form-group">
                    <label style="float:left; width:100%">Purchasing information</label>
                    <textarea class="form-control" placeholder="Description on purchase form"></textarea>

                </div>


                <div class="col-sm-6 form-group">
                    <label style="float:left; width:100%">Cost</label>
                    <input type="text" class="form-control" style="text-align:right" />

                </div>


                <div class="col-sm-6 form-group">
                    <label style="float:left; width:100%">Expense account</label>
                    <div class="btn-group" style="width:100%">
                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" style="width:100%; color:#000 !important; text-align:left;">
                            Inventory Shrinkage
                            <i class="fa fa-sort pull-right" style="margin-top:3px"></i>
                        </button>

                        <ul class="dropdown-menu my Expenseaccount" style="width:100%;">
                            <li>
                                <a href="#">Inventory Shrinkage</a>
                            </li>
                            <li>
                                <a href="#">Cost of sales</a>
                            </li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>

        <div class="productfooter" style="display:none">
            <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="closeproductInfo()">Save and close</button>
        </div>
    </div>
</div>


