@{
    ViewBag.Title = "Index";
    Layout = null;
}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<script>
    $(document).ready(function () {

   

    $('#menutoggle').click(function () {
    $("#wrapper").toggleClass("toggled");
    });

    $('#flyoutCompany').hide();
    $('#flyout').hide();
    $('#flyoutChange').hide();

    $(".addrotate").click(function (e) {
    $(this).toggleClass("down");
    $('#flyout').fadeToggle("slow", "linear");
    $('#flyoutCompany').hide();
    $('#flyoutChange').hide();
    });

    $('.sub-menu').click(function () {
        $('.leftsubmenu').slideDown();
    });


    $("#CompanyInfo").click(function (e) {
       $('#flyoutCompany').fadeToggle("slow", "linear");
       $('#flyout').hide();
       $('#flyoutChange').hide();
    });


    $("#Changename").click(function (e) {
        $('#flyoutChange').fadeToggle("slow", "linear");
        $('#flyout').hide();
        $('#flyoutCompany').hide();
    });


    $('.flytopbar').click(function (e) {
        e.stopPropagation();
    });


    $('html').click(function () {
        $('#flyout').hide();
        $('#flyoutCompany').hide();
        $('#flyoutChange').hide();

    });


    });
</script>

<div id="wrapper" ng-init="model = {}">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#" class="logo">
                    <i class="fa fa-compass"></i> Account <span>Books</span>
                </a>
            </li>
            <li>
                <a ui-sref=".HomePage"><i class="fa fa-dashboard"></i> Home</a>
            </li>
            <li>
                <a ui-sref=".Customer"><i class="fa fa-users"></i> Customers</a>
            </li>
            <li>
                <a ui-sref=".Suppliers"><i class="fa fa-street-view"></i> Suppliers</a>
            </li>
          
            <li>
                <a href="" class="sub-menu"><i class="fa fa-money"></i> Transactions</a>
                <ul class="list-unstyled leftsubmenu">
                    <li><a ui-sref=".Banking">Banking</a></li>
                    <li><a ui-sref=".Sales">Sales</a></li>
                    <li><a ui-sref=".Expenses">Expenses</a></li>
                  
                </ul>
            </li>
            <li>
                <a ui-sref=".Inventory"><i class="fa fa-cubes"></i> Inventory</a>
            </li>
            <li>
                <a ui-sref=".Logistics"><i class="fa fa-truck"></i>Logistics </a>
            </li>
            <li>
                <a href=""><i class="fa fa-bar-chart"></i> Reports</a>
            </li>
          
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->


    <div id="page-content-wrapper" style="padding:0px">


        <div class="container-fluid" ng-init="model = {}">
            <div class="row">

                <div class="bg-info cursor topbar">
                    <i class="fa fa-bars menutoggle" id="menutoggle"></i>
                    
                    <ul class="list-unstyled topmenu">
                        <li><a ui-sref=".SearchTransactions"><i class="fa fa-search" style="color:#fff"></i></a></li>
                        <li class="addrotate flytopbar"><i class="fa fa-plus"></i> </li>
                    </ul>


                    <ul class="list-unstyled submenu my">
                        <li id="CompanyInfo" class="flytopbar"><a href=""><i class="fa fa-gear"></i> Labdhi Engineering & Co.</a></li>
                        <li id="Changename" class="flytopbar"><a href=""><i class="fa fa-refresh"></i> Change </a></li>
                    </ul>


                    <div id="flyout" class="flytopbar">
                        <div class="arrow-up"></div>
                        <div class="flyoutdiv">
                            <h3 class="title">Create</h3>

                            <div class="col-sm-4" style="padding:0px">
                                <h3 class="Subtitle">Customers</h3>
                                <ul class="list-unstyled">
                                    <li><a ui-sref=".Invoice">Invoice</a></li>
                                    <li><a ui-sref=".ReceivePayment">Receive Payment</a></li>
                                   
                                </ul>
                            </div>






                            <div class="col-sm-4" style="padding:0px">
                                <h3 class="Subtitle">Suppliers</h3>
                                <ul class="list-unstyled">
                                    <li><a ui-sref=".Enquiry">Enquiry</a></li>
                                    <li><a ui-sref=".PurchaseOrder">Purchase Order</a></li>
                                    <li><a ui-sref=".Bill">Bill</a></li>
                                    <li><a ui-sref=".Expense">Add Expense</a></li>
                                   
                                </ul>
                            </div>


                            <div class="col-sm-4" style="padding:0px">
                                <h3 class="Subtitle">Inventory</h3>
                                <ul class="list-unstyled">
                                    <li><a ui-sref=".GRNEntry">Receipt Note</a></li>
                                    <li><a href="#">Issue Note</a></li>

                                </ul>
                            </div>


                            
                        </div>
                    </div>


                    <div id="flyoutCompany" class="flytopbar">
                        <div class="arrow-up" style="margin-right:26%; float:right"></div>
                        <div class="flyoutdiv">
                            <h3 class="title">Labdhi Engineering & Co.</h3>

                            <div class="col-sm-8" style="padding:0px">
                                <h3 class="Subtitle">Settings</h3>
                                <ul class="list-unstyled my">
                                    <li><a href="#">Company Settings</a></li>
                                    <li><a href="#">Chart of Accounts</a></li>
                                </ul>
                            </div>






                            <div class="col-sm-4" style="padding:0px">
                                <h3 class="Subtitle">Your Company</h3>
                                <ul class="list-unstyled my">
                                    <li><a href="#">Your Account</a></li>
                                    <li><a href="#">Manage Users</a></li>
                                    <li class="logout"><a href="#"><i class="fa fa-lock"></i> Sign Out</a></li>

                                </ul>
                            </div>


                            



                        </div>
                    </div>



                    <div id="flyoutChange" class="flytopbar">
                        <div class="arrow-up" style="margin-right:9%; float:right"></div>
                        <div class="flyoutdiv">
                            
                            <div class="col-sm-12" style="padding:0px">
                                <ul class="list-unstyled my">
                                    <li><a href="#">Labdhi Engineering & Co.</a></li>
                                    <li><a href="#">Aacharang Metal</a></li>
                                    <li><a href="#">Paynna Anugrah Indonesia</a></li>
                                    <li><a href="#">Prathna Indonesia</a></li>
                                </ul>
                            </div>


                        </div>
                    </div>



                </div>

                

                
                


                


                

                

                


                


                <div ui-view></div>


            </div>
        </div>

    </div>
            <!-- /#page-content-wrapper -->

        </div>

