
@{
    ViewBag.Title = "PurchaseOrder";
    Layout = null;
}
<style>
    .modal-backdrop{position:relative}
</style>

<div class="FlexPopup" style="display:block" ng-init="model = {}">
    <div class="flexheader">
        <ul class="list-unstyled submenu InvoiceMenu" style="float:left">
            <li><a href="#/Customer/Suppliers"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
            <li><a href="/#/Customer/Suppliers"><span>Purchase Order</span></a></li>
        </ul>
        <ul class="list-unstyled submenu InvoiceMenu">
            <li><a ui-sref="Customer.PdfView({po:poNo,enq:2})"style="font-size:18px"><i class="fa fa-file-pdf-o"></i> View</a></li>
           
            
        </ul>
    </div>

    <div class="col-sm-10" style="padding:0px">
        <div class="flexcontainer" >
            <div class="lightblue bluebrdr content" style="padding:0px 10px 10px 10px">


               

            
                <div class="col-sm-7 padding">
                    <div class="col-sm-6" style="margin-top:10px">
                        
                        <ui-select ui-tree-select ng-model="model.people" id="countryCode"
                                   ui-select-focuser
                                   theme="selectize">
                            <ui-select-match placeholder="Select Suppliers">{{ $select.selected.company }}</ui-select-match>
                            
                            <ui-select-choices repeat="group in supliers | filter: $select.search">
                                <div>
                                    <span ng-bind-html="group.company | highlight: $select.search"></span>
                                </div>


                            </ui-select-choices>
                        </ui-select>

                        <h3>{{supplier}}</h3>
                        <p ng-init="{{sup = model.people.company}}"> </p>
                    </div>
                    <div id="form-popoverPopup" class="popupbox">
                        <div class="dijitDialogTitle">
                            New Suppliers
                            <i class="fa fa-times-circle cursor pull-right" title="close" ng-click="popuclose()"></i>
                        </div>
                        <div class="form-content">
                            <div class="form-group">
                                <label><span class="red">*</span>Suppliers Name</label>
                                <input type="text" ng-model="suppliersName" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label><span class="red">*</span>Email</label>
                                <input type="text" ng-model="email1" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label><span class="red">*</span>Mobile No.</label>
                                <input type="text" ng-model="mobile" class="form-control" />
                            </div>



                            <div class="form-footer">
                                <button type="button" class="btn btn-sm btn-default" ng-click="saveSuppliers()">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-top:10px">
                        <input type="text" class="form-control" ng-model="email" placeholder="Email address" />
                    </div>

                </div>
                   





               



            </div>
            <div class="col-sm-12">
               

                <div class="col-sm-2 padding5 claro">
                    
                    


                    <h4 class="tabheading">Currency</h4>
                    <select class="form-control selectcss" ng-model ="currency">
                        <option>Dollar</option>
                        <option>Rupee</option>
                        <option>Rupiah</option>
                    </select>
                    <div>
                        <h4 class="tabheading">&nbsp;</h4>
                        <button type="button" class="btn btn-default btn-sm currencybtn" ng-click="CommodityRatesbtn()">Commodity Rates</button>

                    </div>
                </div>

                <div class="col-sm-2 padding5">
                    <h4 class="tabheading">P.O Date</h4>
                    <div class='input-group'>
                        <input type='text' class="form-control" ng-model="poDate"id='BillDate' />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <h4 class="tabheading">Due Date</h4>
                    <div class='input-group'>

                        <input type='text' ng-model="poDueDate" class="form-control" id='billDueDate' />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>

                    <div >
                        <h4 class="tabheading">&nbsp;</h4>
                        <button type="button" class="btn btn-default btn-sm currencybtn" ng-click="ExchangeRatebtn()">$ Exchange Rate</button>

                    </div>

                </div>
             
                
                  
                <div class="col-sm-1 padding5 pull-right">
                    <h4 class="tabheading">P.O No.</h4>
                    <input type="text" class="form-control" ng-model="poNo"  disabled />
                </div>
            </div>

            <div class="modal fade" id="ExchangeRateDiv">
                <div class="modal-dialog" style="width:460px; margin-top:60px">
                    <div class="modal-content content">
                        <div class="modal-header popupheader content" style="border-bottom:1px solid #e5e5e5">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Exchange Rate</h4>
                        </div>
                        <div class="modal-body content modalbodyexchange" style="padding:15px;">

                            <div class="col-sm-5 padding5">
                                <h3 class="heading headingsize">$ Exchange</h3>
                            </div>

                            <div class="col-sm-5 padding5">
                                <h3 class="heading headingsize"> Rate</h3>
                            </div>





                            <div class="ExchangeLine">

                                <div class="col-sm-5 padding5">
                                   
                                        <label>{{data.source}} to INR</label>
                                      
                                    
                                </div>

                                <div class="col-sm-5 padding5">
                                    <input id ="rs" type="text" class="form-control" />
                                </div>

                                <div class="col-sm-2 padding5 delete">
                                    <i class="fa fa-trash"></i> Delete
                                </div>

                            </div>

                            <div class="ExchangeLine">

                                <div class="col-sm-5 padding5">
                                    <label>{{data.source}} to IDR</label>

                                </div>

                                <div class="col-sm-5 padding5">
                                    <input id="rs1"type="text" class="form-control" />
                                </div>

                                <div class="col-sm-2 padding5 delete">
                                    <i class="fa fa-trash"></i> Delete
                                </div>

                            </div>


                        </div>
                        <div class="modal-footer content">
                            <button type="button" class="btn btn-default btn-sm pull-left addexchange">Add Line</button>


                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary btn-sm">Save changes</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>


            <div class="modal fade" id="CommodityRatesDiv">
                <div class="modal-dialog" style="width:460px; margin-top:100px">
                    <div class="modal-content content">
                        <div class="modal-header popupheader content" style="border-bottom:1px solid #e5e5e5">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Commodity Rates</h4>
                        </div>
                        <div class="modal-body content modalbodycommodity" style="padding:15px;">

                            <div class="col-sm-6 padding5">
                                <h3 class="heading headingsize">Commodity</h3>
                            </div>

                            <div class="col-sm-6 padding5">
                                <h3 class="heading headingsize"> Rate</h3>
                            </div>





                            <div class="ExchangeLine">

                                <div class="col-sm-6 padding5">
@*
    <select class="form-control selectcss">


        <option>Select</option>
        <option>Nickel</option>
        <option>Copper</option>
        <option>Fe</option>
        <option>Molybdenum</option>
        <option>Ferrous</option>
    </select>
*@
                                        <h4>Nicale</h4>
                                </div>

                                <div class="col-sm-6 padding5">
                                    <input  ng-model="rate1" type="text" class="form-control" />
                                </div>



                            </div>

                            <div class="ExchangeLine">

                                <div class="col-sm-6 padding5">
                                    <h4>Iron</h4>
@*
    <select class="form-control selectcss">
        <option>Select</option>
        <option>Nickel</option>
        <option>Copper</option>
        <option>Fe</option>
        <option>Molybdenum</option>
        <option>Ferrous</option>
    </select>
*@
                                    </div>

                                    <div class="col-sm-6 padding5">
                                        <input ng-model="rate2" type="text" class="form-control" />
                                    </div>



                                </div>

                            <div class="ExchangeLine">

                                <div class="col-sm-6 padding5">
                                    <h4>Steel</h4>
                                    @*
                <select class="form-control selectcss">
                    <option>Select</option>
                    <option>Nickel</option>
                    <option>Copper</option>
                    <option>Fe</option>
                    <option>Molybdenum</option>
                    <option>Ferrous</option>
                </select>
                                    *@
                                </div>

                                <div class="col-sm-6 padding5">
                                    <input ng-model="rate3"type="text" class="form-control" />
                                </div>



                            </div>



                            </div>
                            <div class="modal-footer content">
                                <button type="button" class="btn btn-default btn-sm pull-left addcommodity">Add Line</button>

                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary btn-sm">Save changes</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
               @*
                <div class="col-sm-12" style="padding-top:10px">
                    <h4 data-toggle="collapse" data-target="#AccountDetail3" class="cursor pull-left"><i class="fa fa-caret-right"></i> Purchage Order details</h4>
                    <div class="collapse in" id="AccountDetail3">
                        <table class="table NewTable" style="width:100%" id="AccountTableLine">
                            <thead>
                                <tr>

                                    @*<th>Name</th>
                                    <th>Description</th>
                                    <th class="text">Amount</th>

                                </tr>
                            </thead>
                            <tbody  ng-repeat="data in purchage">

                                <tr >

                                    <td>{{data.dsc}}</td>
                                    <td>{{data.ammount}}</td>
                                </tr>


                                @*
                                <tr class="Countedit">
                                    <td class="text-right Count" style="width:50px" data-field="Count">1</td>
                                    <td class="Count" data-field="Account">Custom Duty</td>
                                    <td class="Count" id="dsc" data-field="Description"{{purchageorder.dsc}}>&nbsp;</td>
                                    <td class="text-right Count" id="amount" data-field="Amount">&nbsp;</td>
                                    <td class="text-right Count"><a> <i class="fa fa-pencil" style="font-size:16px"></i></a></td>

                                    <td class="text-right Count2" style="width:50px" data-field="Count"><input type="text" class="form-control" value="1"/></td>
                                    <td class="Count2" data-field="Account"><ui-tree-Account model="model">
    </ui-tree-Account></td>
                                    <td class="Count2" data-field="Description"><input id="dsc"type="text" class="form-control" /></td>
                                    <td class="text-right Count2" data-field="Amount"><input type="text" class="form-control" /></td>
                                    <td class="text-right Count2 savetr"><a> <i class="fa fa-save" style="font-size:16px"></i></a></td>
                                </tr>


                                <tr class="Countedit">
                                    <td class="text-right Count" style="width:50px" data-field="Count">2</td>
                                    <td class="Count" data-field="Account">VAT</td>
                                    <td class="Count" data-field="Description">&nbsp;</td>
                                    <td class="text-right Count" data-field="Amount">&nbsp;</td>
                                    <td class="text-right Count"><a> <i class="fa fa-pencil" style="font-size:16px"></i></a></td>

                                    <td class="text-right Count2" style="width:50px" data-field="Count"><input type="text" class="form-control" value="2" /></td>
                                    <td class="Count2" data-field="Account">
                                        <ui-tree-Account model="model">
                                        </ui-tree-Account>
                                    </td>
                                    <td class="Count2" data-field="Description"><input type="text" class="form-control" /></td>
                                    <td class="text-right Count2" data-field="Amount"><input type="text" class="form-control" /></td>
                                    <td class="text-right Count2 savetr"><a> <i class="fa fa-save" style="font-size:16px"></i></a></td>
                                </tr>


                                <tr class="Countedit">
                                    <td class="text-right Count" style="width:50px" data-field="Count">3</td>
                                    <td class="Count" data-field="Account">O TAX</td>
                                    <td class="Count" data-field="Description">&nbsp;</td>
                                    <td class="text-right Count" data-field="Amount">&nbsp;</td>
                                    <td class="text-right Count"><a> <i class="fa fa-pencil" style="font-size:16px"></i></a></td>

                                    <td class="text-right Count2" style="width:50px" data-field="Count"><input type="text" class="form-control" value="3" /></td>
                                    <td class="Count2" data-field="Account">
                                        <ui-tree-Account model="model">
                                        </ui-tree-Account>
                                    </td>
                                    <td class="Count2" data-field="Description"><input type="text" class="form-control" /></td>
                                    <td class="text-right Count2" data-field="Amount"><input type="text" class="form-control" /></td>
                                    <td class="text-right Count2 savetr"><a> <i class="fa fa-save" style="font-size:16px"></i></a></td>
                                </tr>

                                <tr class="Countedit">
                                    <td class="text-right Count" style="width:50px" data-field="Count">4</td>
                                    <td class="Count" data-field="Account">TAX</td>
                                    <td class="Count" data-field="Description">&nbsp;</td>
                                    <td class="text-right Count" data-field="Amount">&nbsp;</td>
                                    <td class="text-right Count"><a> <i class="fa fa-pencil" style="font-size:16px"></i></a></td>

                                    <td class="text-right Count2" style="width:50px" data-field="Count"><input type="text" class="form-control" value="4" /></td>
                                    <td class="Count2" data-field="Account">
                                        <ui-tree-Account model="model">
                                        </ui-tree-Account>
                                    </td>
                                    <td class="Count2" data-field="Description"><input type="text" class="form-control" /></td>
                                    <td class="text-right Count2" data-field="Amount"><input type="text" class="form-control" /></td>
                                    <td class="text-right Count2 savetr"><a> <i class="fa fa-save" style="font-size:16px"></i></a></td>
                                </tr>

                                <tr class="Countedit">
                                    <td class="text-right Count" style="width:50px" data-field="Count">&nbsp;</td>
                                    <td class="Count" data-field="Account">&nbsp;</td>
                                    <td class="Count" data-field="Description">&nbsp;</td>
                                    <td class="text-right Count" data-field="Amount">&nbsp;</td>
                                    <td class="text-right Count"><a> <i class="fa fa-pencil" style="font-size:16px"></i></a></td>

                                    <td class="text-right Count2" style="width:50px" data-field="Count"><input type="text" class="form-control" value="4" /></td>
                                    <td class="Count2" data-field="Account">
                                        <ui-tree-Account model="model">
                                        </ui-tree-Account>
                                    </td>
                                    <td class="Count2" data-field="Description"><input type="text" class="form-control" /></td>
                                    <td class="text-right Count2" data-field="Amount"><input type="text" class="form-control" /></td>
                                    <td class="text-right Count2 savetr"><a> <i class="fa fa-save" style="font-size:16px"></i></a></td>
                                </tr>


                            </tbody>
                        </table>

                        <button type="button" class="btn btn-default btn-sm btn-xs" ng-click="AddAccountTableLine()">Add lines</button>
                    </div>
                </div>

*@

            <hr style="float:left; width:100%;" />


            <div class="col-sm-12">
                <h4 data-toggle="collapse" data-target="#ItemDetail2" class="cursor"><i class="fa fa-caret-right"></i> Item details</h4>
              
                <div class="collapse in" id="ItemDetail2" ng-init="role = admin" >
                   
                    <table class="table NewTable" id="ItemTable">
                        <thead style="width:70px">
                            <tr>

                                <th>Grade</th>
                                <th>Finish</th>
                                <th>Thickness (MM)</th>
                                <th>Width (MM)</th>
                                <th>Length</th>
                                <th>Net Weight (MT)</th>
                                <th>Gross Weight (MT)</th>
                                <th>Sheets NO</th>
                                <th>Unit Price cif USD/MT($)</th>
                                <th>Amount CIF($)</th>
                                <th ng-hide="role =='2'||role =='1'"> Msc.Charges($)</th>
                                <th>Amount(INR)</th>
                                <th>&nbsp;</th>

                            </tr>
                        </thead>
                        <tbody ng-repeat="item in poTable">
                            <tr>


                                <td class="Count"><input ng:model="item.grade" value="0.00" ng:required ng:validate="number" style="border:none;width:80px" /></td>
                                <td class="Count"><input ng:model="item.finish" value="0.00" ng:required ng:validate="number" style="border:none;width:80px" /></td>
                                <td class="Count"><input ng:model="item.thickness" value="0.00" ng:required ng:validate="number" style="border:none;width:80px" /></td>
                                <td class="Count"><input ng:model="item.width" value="0.00" ng:required ng:validate="number" style="border:none;width:80px" /></td>
                                <td class="Count"><input ng:model="item.length" value="0.00" ng:required ng:validate="number" style="border:none;width:80px" /></td>
                                <td class="Count"><input ng:model="item.netweight" value="0.00" ng:required type="number" ng:validate="number" style="border:none;width:80px" /></td>
                                <td class="Count"><input ng:model="item.grossweight" value="0.00" ng:required ng:validate="number" style="border:none;width:80px" /></td>
                                <td class="Count"><input ng:model="item.sheetNo" value="0.00" ng:required ng:validate="number" style="border:none;width:80px" /></td>
                                <td class="Count"><input ng:model="item.fobRate" value="0.00" ng:required type="number"ng:validate="number" style="border:none;width:80px" /></td>
                                <td class="Count"><input ng:model="item.cif=item.netweight*item.fobRate" value="0.00" ng:required type="number" ng:validate="number" style="border:none;width:80px" /></td>
                                <td class="Count" ng-hide="role =='2'||role =='1'"><input ng:model="item.miscCharge" value="0.00" ng:required type="number"ng:validate="number" style="border:none;width:80px" /></td>
                                <td class="Count"><input ng:model="item.charges=(item.netweight*item.fobRate*ExchangeRate)+item.miscCharge" value="0.00" type="number"ng:required ng:validate="number" style="border:none;width:80px" /></td>
                                <td class="text-right Count"ng:model="item.adminCharge = item.charges-item.miscCharge" value="0.00" ><a class="edit" title="Edit"> <i class="fa fa-times-circle cursor RemoveTR" style="font-size:16px" ng-click="remove($index)"></i></a></td>

                            </tr>


                        </tbody>
                    </table>
                    <button type="button" class="btn btn-default btn-sm btn-xs" ng-click="addrow(count = count + 1)" ng-init="count=-1">Add lines</button>
                    <button type="button" class="btn btn-default btn-sm btn-xs" ng-click="clearTable()">clear lines</button>

                </div>
            </div>
          

            <hr style="float:left; width:100%; margin:5px 0px" />
            <div class="col-sm-12" ng-click="addrow1()">
                <div class="col-sm-4 padding">

                    <div class="form-group">
                        <h4 class="tabheading">Memo</h4>
                        <textarea class="form-control" style="height:80px"></textarea>
                    </div>
                </div>
                <span class="pull-right" style="width:350px">
                    <label class="subtotal" style="font-size:1.3rem;">Subtotal</label>
                    <span class="subtotalvalue" style="font-size:1.3rem; font-weight:bold">Rs {{subtotalnew}}</span>
                    <label class="subtotal" style="font-size:1.5rem;">Total</label>
                    <span class="subtotalvalue" style="font-size:1.5rem; font-weight:bold">Rs0.00</span>
                </span>
            </div>

            <hr style="float:left; width:100%; margin:5px 0px" />

            <div class="col-sm-12" style="margin-bottom:20px">
                <div class="col-sm-4 padding">

                    <div class="form-group">
                        <h4 class="tabheading">Attachments</h4>
                        <div class="attachmets">
                            <input type="file" id="uploadBtn" multiple="multiple" name="browsefile">
                            <div>
                                <i class="fa fa-plus"></i>
                                <p>Add file</p>
                            </div>
                        </div>


                    </div>
                </div>
                <div id="upload_prev" class="upload_prev"></div>
            </div>
        </div>
    </div>

    <div class="col-sm-2" style="padding:0px;">
        <div class="lightblue bluebrdr flexcontainer" style="padding:0px 10px">
            <h3 class="AddBill">Add To Purchase</h3>
            <h4 id="noData">{{noData}}</h4>
            <div class="sk-wave">
                <div class="sk-rect sk-rect1"></div>
                <div class="sk-rect sk-rect2"></div>
                <div class="sk-rect sk-rect3"></div>
                <div class="sk-rect sk-rect4"></div>
                <div class="sk-rect sk-rect5"></div>
            </div>


         
            <div class="PurchaseBox" ng-repeat="data in enquiryList ">
                <h3 >{{data.supliersName}}</h3>
                <small>{{data.date}}</small>
                <strong>{{data.no}} </strong>
                <br /><br />
                <ul class="Purchasefooter list-unstyled">
                    <li ng-click="addtoPurchase($index)"><strong><i class="fa fa-long-arrow-left"></i> Add</strong></li>
                    <li><a ui-sref="Customer.PdfView({po:data.no,enq:1})">View</a></li>
                </ul>

            </div>









        </div>
    </div>

    <div class="flexfooter">
        <span class="pull-left">
            
            <button type="button" class="btn btn-sm btn-primary">Clear</button>
        </span>

        <div class="pull-right">
            <button type="button" class="btn btn-sm btn-primary" ng-click="savePurchaseOrder()">Save</button>
            <div class="btn-group dropup">
               @*
    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:25px">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" style="right:-2px !important">
        <li><a href="#">Save and close</a></li>
        <li><a href="#">Save and send</a></li>
        <li><a href="#">Save and new</a></li>
        <li><a href="#">Save and share link</a></li>
    </ul>
            *@
            </div>
        </div>
    </div>



</div>

